version: "3.9"

services:
  app:
    build:
      context: .
      target: runner
    env_file:
      - .env
    environment:
      NODE_ENV: production
      HOSTNAME: 0.0.0.0
      PORT: 3000
    ports:
      - "3000:3000"
    restart: unless-stopped
